body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  height: 60px;
  background: #5b63ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

.title{
  color: white;
  margin-right: 20px;
  font-size: 18px;
  padding-left: 10px;
  justify-self: start;
  font-weight: bold;}

.nav-left a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  padding-right: 10px;
}

.nav-left a:hover {
  color: #bbbbbb;

}

.nav-left a:active {
  font-weight: bold;
  color: #bbbbbb;
}
