.suppliers-container{
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: sans-serif,Arial;
}

.suppliers-header{
    background: linear-gradient(135deg,#c671f7, #2d5481);
    padding: 45px 20px 20px;
    color: #ffffff;
    text-align: center;
}

.suppliers-header h1{
    font-size: 32px;
}

.search-container{
    max-width: 600px;
    margin:0 auto 0;
    padding:10px 20px ;
}

.search-container input{
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    box-shadow: 0 6px 14px  rgb(0, 0, 0,0.1);
}

.search-container input:focus{
    outline: none;
    border-color: #c671f7;
    box-shadow: 0 6px 14px  rgba(255, 134, 201, 0.7);
}

.suppliers-grid{
    max-width: 1800px;
    margin: 20px 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.suppliers-card{
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    background-color: white;
    box-shadow: 0 6px 14px rgb(0, 0, 0,0.1);
}

.suppliers-card h2{
    font-size: 24px;
    margin: 5px;
    color: #2d5481;
}

.suppliers-card p{
    font-size: 16px;
    color: #777;
}

.status{
    font-size: 12px;
    border-radius: 12px;
    font-weight: 600px;
    padding: 4px 10px;
}

.status.active{
    background-color: #e8f6ef;
    color: #1e8449;
}

.status.inactive{
    background-color: #fdecea;
    color: #922b21;
}

.view-btn{
    height: 60%;
    padding: 10px;
    background-color:  #2d54a8;
    border: none;
    border-radius: 6px;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}

.view-btn a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
}

.view-btn:hover{
    background: linear-gradient(135deg,#184486,#ffa7ec);
}
